#movies img, #movie img{
  width: 100%;
}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height: 240px;
  }
}
#search{
  width: 10%;
  background:rgb(8, 175, 241);
  border: 1px black;
  margin-left: 90%;
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
}
