




#movies img, #movie img{
  width: 100%;
  position: relative;
  
  
}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height: 240px;
    padding: 20px 20px;
    color: #2a9fd6;
    margin: auto;
    
   
  }
}
body {
  margin: 0;
  background-image: url(./images/blue\ movie.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


 #searchButton{
   color: black;
   background:#2a9fd6;
   border-color: black;
  
 }
 .btn {
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #2a9fd6;
  border: 1px solid #2a9fd6;
  padding: .375rem 1rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
 .navbar.bg-light {
  background-color: #2a9fd6!important;
  width: 48%;
  height: 46%;
  right: -27%;
 
 
  
}
.text-center {
  text-align: center!important;
  font-size: 2rem;
}
.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color:#2a9fd6;
  border: 1px solid #2a9fd6;
}
a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  
}